.SideBarContainer{
    position: relative;
    background-color: var(--darkblue);
    display: grid;
    justify-items: center;
    width:100%;
}
.SideBarItemsContainer{
    position: relative;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    background-color: var(--darkblue);
}
.SideBarItemsContainer p{
    padding-left: 20px;
    padding-right: 20px;
}

.SideBarContainerLeftColumnBuffer{
    margin-top: calc(100px + 12vw);
}
