.App {
  text-align: center;
  background-color: whitesmoke;
}
:root {
  --gold: #9c8c4e;
  --lightblue: #7d94ce;
  --darkblue: #092469;
  --green: #98ff98;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MainContainer{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}
p{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: calc(10px + 2vmin);
  transition: .25s;
}
p:hover{
  color: var(--green);
}
h1{
  margin:0;
  color: var(--blue);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: calc(20px + 4vmin);
}
h2{
  margin:0;
  color: var(--blue);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: calc(20px + 2vmin);
}


.UserTopImage{
  position: absolute;
  padding: 1%;
  width: calc(100px + 12vw);
  height: calc(100px + 12vw);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.UserTopImageBackground{
  position: absolute;
  width: calc(100px + 12vw);;
  height: calc(100px + 12vw);
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserTopImageBackgroundImage{
  border-radius: 50%;
  width: 94%;
  height: 94%;
  object-fit:cover;
}




























@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
